:root {
  --header-font-size: 1.5rem;
  --description-font-size: 1.3rem;
  --code-font-size: 0.65rem;
}

.scroller {
  height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
}

.scroller section {
  --padding: 1em;

  scroll-snap-align: start;
  scroll-snap-stop: normal;

  min-width: fit-content;
  height: 100vh;
  max-height: calc(100vh - var(--padding));
  position: relative;
  padding: var(--padding);
}

.header {
  font-size: var(--header-font-size, 1rem);
  font-weight: bold;
  margin-block-end: 1rem;
}

.body {
  font-size: var(--description-font-size, 1rem);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.code {
  background: #1e1e2e;
  padding: 2rem;
  font-size: var(--code-font-size, 12px);
}

.description {
  width: 100%;
  color: light-dark(#333b3c, #9ca3af);
}

@media screen and (min-width: 992px) {
  :root {
    --header-font-size: 5rem;
    --description-font-size: 2.5rem;
    --code-font-size: 1.8rem;
  }
  .scroller {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    overflow-x: scroll;
  }

  .scroller section {
    --padding: 2em;

    min-width: 100vw;
    height: 100vh;
    max-height: calc(100vh - var(--padding));
    position: relative;
    padding: var(--padding);
  }

  .body:has(img) {
    flex-direction: row;
  }

  .body:has(img) > * {
    width: 50%;
  }

  .header {
    margin-block-end: 3rem;
  }
}
